# Imports

In [1]:
import pandas as pd
import numpy as np
from time import time

# encodage
from Encoder import Encoder

# partitionnement des données
from sklearn.model_selection import train_test_split

# modèles
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from utils import train_model

# mesures de performances
from sklearn.metrics import accuracy_score,precision_score, recall_score, precision_recall_fscore_support
from sklearn.metrics import average_precision_score
from utils import show_performances

/Users/mac/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

# Lecture du dataset pre-traité

In [2]:
bf_df = pd.read_csv('./BlackFriday_Price_Preprocessed.csv')
bf_df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,P00069042,F,0-17,10,A,2,0,3,0,0,8370
1,P00248942,F,0-17,10,A,2,0,1,6,14,15200
2,P00087842,F,0-17,10,A,2,0,12,0,0,1422
3,P00085442,F,0-17,10,A,2,0,12,14,0,1057
4,P00285442,M,55+,16,C,4+,0,8,0,0,7969

# Encodage des colonnes

## Product ID

In [3]:
product_id_encoder = Encoder.Encoder()
product_id = bf_df["Product_ID"].tolist()
product_id_encoded = product_id_encoder.encode_data(product_id)

## Gender

In [4]:
gender_encoder = Encoder.Encoder()
gender = bf_df["Gender"].tolist()
gender_encoded = gender_encoder.encode_data(gender)

## Age

In [5]:
age_encoder = Encoder.Encoder()
age = bf_df["Age"].tolist()
age_encoded = age_encoder.encode_data(age)

## Occupation

In [6]:
occupation_encoder = Encoder.Encoder()
occupation = bf_df["Occupation"].tolist()
occupation_encoded = occupation_encoder.encode_data(occupation)

## City Category

In [7]:
city_category_encoder = Encoder.Encoder()
city_category = bf_df["City_Category"].tolist()
city_category_encoded = city_category_encoder.encode_data(city_category)

## Stay In Current City Years

In [8]:
years_encoder = Encoder.Encoder()
years = bf_df["Stay_In_Current_City_Years"].tolist()
years_encoded = years_encoder.encode_data(years)

## Marital Status

In [9]:
martial_status_encoder = Encoder.Encoder()
martial_status = bf_df["Marital_Status"].tolist()
martial_status_encoded = martial_status_encoder.encode_data(martial_status)

## Product Category 1

In [10]:
product_categpry_one_encoder = Encoder.Encoder()
product_categpry_one = bf_df["Product_Category_1"].tolist()
product_categpry_one_encoded = product_categpry_one_encoder.encode_data(product_categpry_one)

## Product Category 2

In [11]:
product_categpry_two_encoder = Encoder.Encoder()
product_categpry_two = bf_df["Product_Category_2"].tolist()
product_categpry_two_encoded = product_categpry_two_encoder.encode_data(product_categpry_two)

## Product Category 3

In [12]:
product_categpry_three_encoder = Encoder.Encoder()
product_categpry_three = bf_df["Product_Category_2"].tolist()
product_categpry_three_encoded = product_categpry_three_encoder.encode_data(product_categpry_three)

# Regression

## Création des inputs et outputs

### Inputs : X

In [13]:
X = np.column_stack((np.asarray(product_id_encoded).astype(np.object),
                     gender_encoded,
                     age_encoded,
                     occupation_encoded,
                     city_category_encoded,
                     years_encoded,
                     martial_status_encoded,
                     product_categpry_one_encoded,
                     product_categpry_two_encoded,
                     product_categpry_three_encoded))

### Outputs : y

In [14]:
y = bf_df["Purchase"].tolist()

## Division des données en ensembles de test et train

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42,shuffle=True)

print(len(X_train)," train set size.")
print(len(X_test)," test  set size.")

/Users/mac/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

376303  train set size.
161274  test  set size.

## Linear Regression

### Entrainement

In [16]:
reg = LinearRegression(fit_intercept=True)

reg = train_model(reg, X_train, y_train)

Model entrainé en : 00:00:00

### Mesures de performances

In [17]:
reg.score(X_test, y_test)

0.05994041393878746

## Logistic Regression

### Entrainement

In [ ]:
reg = LogisticRegression(max_iter=1, n_jobs=2)

reg = train_model(reg, X_train, y_train)

/Users/mac/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:1232: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(self.n_jobs))

### Mesures de performances

In [ ]:
show_performances(reg, X_test, y_test)

## Arbre de décision

### Entrainement

In [24]:
reg = DecisionTreeRegressor(max_depth=13)
#reg = DecisionTreeRegressor()

reg = train_model(reg, X_train, y_train)

Model entrainé en : 00:00:02

### Mesures de performances

In [25]:
reg.score(X_test, y_test)

0.6852024623012698

## Forêt aléatoire

### Entrainement

In [26]:
#reg = RandomForestRegressor(n_estimators=200, n_jobs=4, max_depth=13)
reg = RandomForestRegressor(n_estimators=200, n_jobs=4)

reg = train_model(reg, X_train, y_train)

Model entrainé en : 00:03:50

### Mesures de performances

In [27]:
print(reg.score(X_test, y_test))

0.6623946182891822